In [1]:
from tensorflow.keras.callbacks import TensorBoard
from sklearn.svm import LinearSVC,SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import StratifiedKFold
from sklearn import metrics
import pandas as pd
from time import time
import numpy as np

In [2]:
data=pd.read_csv('12_features_data.csv')
labels=pd.read_csv('12_features_labels.csv')

In [3]:
del data['Unnamed: 0']
data.head()

,CC_area,CC_perimeter,CC_circularity,CC_length,W1,W2,W3,W4,W5,W6,W7,volume
0,674.75,216.77,0.180444,76.5,28.25,135.25,95.50,83.50,74.75,58.25,199.25,1654001.750
1,620.50,196.34,0.202275,73.0,11.50,124.75,112.50,85.25,60.75,51.75,174.00,1566818.750
2,617.00,203.15,0.187880,74.0,22.75,160.25,92.50,71.00,60.75,43.50,166.25,1603843.625
3,524.50,191.32,0.180072,67.5,18.25,79.25,95.25,65.00,53.75,52.00,161.00,1434097.750
4,655.25,206.12,0.193817,77.0,15.00,141.00,103.25,88.50,69.75,52.50,185.25,1520944.500

In [4]:
del labels['Unnamed: 0']
labels.head()

   label
0      1
1      1
2      1
3      1
4      1

In [5]:
X=np.array(data)
Y=np.array(labels)
print(X.shape,Y.shape)

(1100, 12) (1100, 1)

In [8]:
n_folds=10
i=0
scores={}
scores_list=[]
skf =StratifiedKFold(5)
for i, (train,test) in enumerate(skf.split(X, Y)):
            #tensorboard=TensorBoard(log_dir='./logs/Exp1/fold_{}'.format(i))
            print("Running Fold", i+1, "/", n_folds)
            x_train=np.array([X[i] for i in train])
            y_train=np.array([Y[i] for i in train])
            x_test=np.array([X[i] for i in test])
            y_test=np.array([Y[i] for i in test])
            #Create a Gaussian Classifier
            model = GaussianNB()
            # Train the model using the training sets
            model.fit(x_train,y_train)
            y_pred=model.predict(x_test)
            scores_list.append(metrics.accuracy_score(y_test,y_pred))
            print(scores_list)

Running Fold 1 / 10
[0.5339366515837104]
Running Fold 2 / 10
[0.5339366515837104, 0.5136363636363637]
Running Fold 3 / 10
[0.5339366515837104, 0.5136363636363637, 0.5454545454545454]
Running Fold 4 / 10
[0.5339366515837104, 0.5136363636363637, 0.5454545454545454, 0.45454545454545453]
Running Fold 5 / 10
[0.5339366515837104, 0.5136363636363637, 0.5454545454545454, 0.45454545454545453, 0.5662100456621004]

/home/ashok/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/ashok/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/ashok/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/ashok/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/ashok/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [9]:
acc=np.sum(np.array(scores_list))/5
acc

0.5227566121764349

In [10]:
score=pd.DataFrame(scores_list,columns=['Accuracy'])
score

   Accuracy
0  0.533937
1  0.513636
2  0.545455
3  0.454545
4  0.566210

In [11]:
score.to_csv('NB.csv')